{% load custom_filter %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> {% block tittle %}{% endblock %} </title>
    {% block css_files %} {% endblock %}
    <link rel="stylesheet" href="/static/css/bootstrap.min.css">
    
<link rel="stylesheet" type="text/css" href="/static/css/util.css">
<link rel="stylesheet" type="text/css" href="/static/css/main.css">
<link rel="stylesheet" type="text/css" href="/static/css/custom.css">

<link
      rel="stylesheet"
      href="/static/css/all.min.css"
    />
<link rel="stylesheet" type="text/css" href="/static/css/mdb.min.css">

</head>
<body class = "bg-mycolor text-white d-flex flex-column min-vh-100">
    <div class="container" style="
    margin-bottom: 30px;
">
        <header class="d-flex justify-content-center py-3  {% if request.path == '/' or request.path|starts_with:postsUrl %} fixed-top {% endif %} "  style="background-color : #646464;">
          <ul class="nav nav-pills" style=--bs-nav-link-color: #f8f9fa;>
            <li  id="home" class="nav-item "><a href="/" class="nav-link {% if request.path == '/' %} active {% endif %}" aria-current="page">Home</a></li>
            <li class="nav-item"><a href="/posts" class="nav-link {% if request.path == '/posts' %} active {% endif %}">All Blogs</a></li>
            <li class="nav-item"><a href="/contact" class="nav-link {% if request.path == '/contact' %} active {% endif %}">Contact</a></li>
            <li class="nav-item"><a href="/about" class="nav-link  {% if request.path == '/about' %} active {% endif %} ">About Me</a></li>
          </ul>
        </header>
      </div>
      {% block content %}
      
      {% endblock %}
    
     
      <!-- Fottoer -->
      <footer class="footer-area text-white py-4 mt-auto {% if request.path == homeUrl or request.path|starts_with:postsUrl %} bg-mysecondory {% endif %} ">
        {% block ctags %}
      
      {% endblock %}
        <div class="container text-center ">
          <p class="m-0 {% if request.path == homeUrl or request.path|starts_with:postsUrl%} mycustomtext {%else%} mycustomtext2 {% endif %}" 
          
      > Blogs &copy; All rights reserved</p>
        </div>
      </footer>
</body>
{% block scripts %}
{% endblock %}

</html>